
.hotel-section {
  margin: 1rem 0 0;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #e6e6e6;
}

.hotel-section .hotel {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hotel-section .hotel .hotel-avatar {
  padding-right: 0.5rem;
  padding-left: 0;
}

.hotel-section .hotel .hotel-avatar .avatar-image {
  width: 8rem;
  border: 0.0625rem solid #e6e6e6;
}

.hotel-section .hotel .hotel-name {
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.hotel-section .hotel .hotel-name .name {
  color: #0a0a0a;
  margin: 0.375rem 0 0;
}

.hotel-section .hotel .hotel-name .hotel-rating,
.hotel-section .hotel .hotel-name .hotel-price {
  color: #8a8a8a;
  margin-bottom: 0;
  font-size: 0.85em;
}

.hotel-section .hotel .hotel-name .hotel-rating {
  color: #FFD700;
  display: inline;
}

.hotel-section .book-hotel {
  display: flex;
  justify-content: center !important;
}

@media screen and (max-width: 39.9375em) {
  .hotel-section .book-hotel {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.hotel-section .book-hotel .book-hotel-action {
  margin-top: 0.7rem;
}
