<div class="hotel-list">
  <div class="hotel-list-header">
    <h6 class="title">
      Hoteles
    </h6>
  </div>
  <app-row></app-row>
  <div class="pagination">
    <ul class="pagination text-center" role="navigation" aria-label="Paginación">
      <li class="pagination-previous disabled">Anterior</li>
      <li class="current"><span class="show-for-sr">Estás en la página</span> 1</li>
      <li><a href="#" aria-label="Page 2">2</a></li>
      <li><a href="#" aria-label="Page 3">3</a></li>
      <li><a href="#" aria-label="Page 4">4</a></li>
      <li class="ellipsis"></li>
      <li><a href="#" aria-label="Page 12">12</a></li>
      <li><a href="#" aria-label="Page 13">13</a></li>
      <li class="pagination-next"><a href="#" aria-label="Próxima página">Siguiente</a></li>
    </ul>
  </div>
</div>
