<div class="hotel-list">
  <div class="hotel-list-header">
    <h6 class="title">
      Hoteles
    </h6>
  </div>
  <div *ngFor="let hotel of hotels.results">
    <app-row [hotel]="hotel"></app-row>
  </div>
  <div class="pagination">
    <ul class="pagination text-center" role="navigation" aria-label="Paginación">
      <li class="pagination-previous"><button [ngClass]="{'disabled': filters.skip==0}" (click)="goToPreviousPage()" aria-label="Página anterior">Anterior</button></li>
      <li class="pagination-next" ><button [ngClass]="{'disabled': hotels.count<10}" (click)="goToNextPage()" aria-label="Próxima página">Siguiente</button></li>
    </ul>
  </div>
</div>
