<div class="product-filters">
  <h2 class="product-filters-header" data-responsive-toggle="filters-menu" data-hide-for="medium">
    <i class="fi-list" data-toggle></i> Filtros
  </h2>
  <h1 class="product-filters-header hide-for-small-only">Filtros</h1>
  <ul class="vertical menu" id="filters-menu" data-accordion-menu data-hide-for="medium">
    <li class="product-filters-tab">
      <a href="#">Filtrar por nombre</a>
      <ul class="categories-menu menu vertical nested is-active">
        <li>
          <div class="input-group">
            <input class="input-group-field" #name type="text" placeholder="nombre del hotel">
            <div class="input-group-button">
              <input type="button" class="button" value="Filtrar" (click)="filterName(name.value)">
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li class="product-filters-tab">
      <a href="#">Precio</a>
      <ul class="categories-menu menu vertical nested is-active">
        <li>
          <div class="grid-x">
            <div class="small-3 columns">
              <input type="number" id="sliderPriceStart" #sliderPriceStart class="text-center" (change)="filterPrices(sliderPriceStart.value, sliderPriceEnd.value)">
            </div>
            <div class="small-6 columns">
              <div class="slider" data-slider data-initial-start="0" data-initial-end="5000" data-end="5000">
                <span class="slider-handle from" data-slider-handle role="slider"
                tabindex="1"
                (change)="filterPrices(sliderPriceStart.value, sliderPriceEnd.value)"
                 aria-controls="sliderPriceStart"></span>
                <span class="slider-fill" data-slider-fill></span>
                <span class="slider-handle to" data-slider-handle role="slider" tabindex="1" aria-controls="sliderPriceEnd"></span>
              </div>
            </div>
            <div class="small-3 columns">
              <input type="number" id="sliderPriceEnd" class="text-center" #sliderPriceEnd (change)="filterPrices(sliderPriceStart.value, sliderPriceEnd.value)">
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li class="product-filters-tab">
      <a href="#">Estrellas</a>
      <ul class="categories-menu menu vertical nested is-active">
        <li><input id="all-stars" type="checkbox" [checked]="allStarsSelected" (click)="selectAllStars($event.target.checked)"><label for="all-stars">Todas</label></li>
        <li><input aria-label="Cinco estrellas" [checked]="isStarChecked(5)" type="checkbox" (click)="selectStar(5, $event.target.checked)"><label><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i></label></li>
        <li><input aria-label="Cuatro estrellas" [checked]="isStarChecked(4)" type="checkbox" (click)="selectStar(4, $event.target.checked)"><label><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i></label></li>
        <li><input aria-label="Tres estrellas" [checked]="isStarChecked(3)" type="checkbox" (click)="selectStar(3, $event.target.checked)"><label><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i></label></li>
        <li><input aria-label="Dos estrellas" [checked]="isStarChecked(2)" type="checkbox" (click)="selectStar(2, $event.target.checked)"><label><i class="fi-star"></i><i class="fi-star"></i></label></li>
        <li><input aria-label="Una estrella" [checked]="isStarChecked(1)" type="checkbox" (click)="selectStar(1, $event.target.checked)"><label><i class="fi-star"></i></label></li>
      </ul>
    </li>
  </ul>
</div>
